{% extends 'base.html.twig' %}

{% block title %}Evaluation interface{% endblock %}

{% block body %}
<div class="row vspace2 justify-content-md-center">
    <div class="col-md-8">
        <div>Hello: {{ user.email }}</div>

        <h3>List of tasks available</h3>
        <ul>
            {% for task in tasks %}
                <li>
                    {{ task.task.title }}
                    {%  if not task.complete %}
                        <i class="text-success fas fa-check left-margin-1em"></i>
                    {%  endif %}
                    <a href="{{ path('annotation', {'id': task.task.first}) }}">Annotate</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
