<div id="help">
    <h4>General explanation</h4>

    <p>Here we can have instructions for the evaluators. If necessary this panel can scroll automatically as they
    move from one step to another. I don't think it needs to be always visible given that they will learn the process.
    However, it would be useful to be available for when they find difficult examples.</p>

    <p>Select the relevant options and provide the required information. Make sure you save when you complete the assessment.
    If the save option is not available it means that there is still information missing. This could be due to the fact
    that you haven't completed all the steps.</p>

    <h5>Step 1</h5>

    Is there anything wrong with the segments? If you select <strong>No</strong>, you will be able to save this decision
    and move to the next pair of segments. If you select <strong>Yes</strong>, you will need to complete the rest of the
    steps before you can save the information.
</div>