<div id="side-panel" class="col-md-4">
    <div class="container">
        <div class="row">
            <div>
            <ul>
                <li><a href="#tabs-1">Preview</a></li>
                <li><a href="#tabs-2">Help</a></li>
            </ul>
            <div id="tabs-1">
                {%  include 'annotation/preview.html.twig' %}
            </div>
            <div id="tabs-2">
                {%  include 'annotation/help.html.twig' %}
            </div>
            </div>
        </div>

        <div class="row justify-content-md-center">
            {% if task.video %}
            <div class="col-sm-10">
                <video
                        id="my-video"
                        class="video-js"
                        controls
                        preload="auto"
                        width="250"
                        data-setup="{}"
                        autoplay
                >
                    <source src="{{ task.video }}" type="video/mp4" />
                    <p class="vjs-no-js">
                        To view this video please enable JavaScript, and consider upgrading to a
                        web browser that
                        <a href="https://videojs.com/html5-video-support/" target="_blank"
                        >supports HTML5 video</a
                        >
                    </p>
                </video>
            </div>
            {% endif %}
        </div>

        <div class="row vspace3">
            <div class="col-sm-2">
                <button type="button" class="btn" id="swap-preview"><i class="fas fa-exchange-alt"></i></button>
            </div>
            <div class="col-sm-10">
                Progress
                <div class="progress align-middle" style="padding-bottom: 1px;">
                    <div id="progressbar" role="progressbar" class="progress-bar-success progress-bar"
                         aria-valuemin="0" aria-valuemax="100" aria-valuenow="{{ pos * 100 / total }}"
                         style="width: {{ pos * 100 / total }}%">{{ pos * 100 / total }}%</div>
                </div>
            </div>
        </div>
    </div>
</div>